h1{
    background-color: yellow;
    
    /* margin: 0;
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 30px;  */
    padding: 40px;
    padding-left: 30px;
    margin-right: 40px;
}
body{
    margin: 0;
}